<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ma todo-list version 2</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-6 offset-3">
                <h1>Ma todo list version 2</h1>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Tâche</th>
                            <th scope="col">
                                <button class="btn btn-danger btn-sm" type="button" name="deleteDone"
                                    onclick="deleteDoneTodos()">Supprimer les done</button>
                            </th>
                        </tr>
                    </thead>

                    <tbody id="todoRows">
                    </tbody>

                    <tfoot>
                        <tr>
                            <td>
                                <input type="text" class="form-control" name="description" id="description">
                            </td>
                            <td>
                                <input type="color" name="color" id="color" value="black">
                                <button type="button" class="btn btn-primary mb-2"
                                    onclick="saveTodo()">Enregistrer</button>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>

    <script>
        // chargement des todos et affichage des todos dans le tableau
        function loadTodos() {
            fetch("/todos") // par défaut, fetch() fait une requête GET
                .then(function (response) {
                    return response.json();
                })
                .then(function (todos) {
                    console.log(todos)

                    for (let index = 0; index < todos.length; index++) {
                        let todo = todos[index];

                        let row = document.createElement("tr");

                        let cellTache = document.createElement("td");
                        cellTache.innerHTML = todo.description;
                        if (todo.done) {
                            cellTache.style.textDecoration = "line-through";
                        }
                        cellTache.style.color = todo.color;

                        row.appendChild(cellTache);

                        let cellDone = document.createElement("td");

                        let checkbox = document.createElement("input");
                        checkbox.type = "checkbox";
                        checkbox.checked = todo.done;
                        checkbox.onclick = function () {
                            setDoneTodo(todo.id, this.checked); // Appeler setDoneTodo avec l'ID de la todo et l'état de la checkbox

                        };

                        cellDone.appendChild(checkbox); // Ajouter la checkbox à la cellule
                        row.appendChild(cellDone); // ajouter la cellule a la ligne

                        document.getElementById("todoRows").appendChild(row);
                    }
                });
        }


        // enregistrement d'une todo
        function saveTodo() {

            fetch("/todo", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({
                    "description": document.getElementById("description").value,
                    "color": document.getElementById("color").value
                })
            })
            document.getElementById("todoRows").innerHTML = "";
            loadTodos();
        }
        // modification d'une todo
        function setDoneTodo(id, done) {

            fetch("/todo/" + id, {
                method: "PUT",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({
                    done: done
                })
            })
            document.getElementById("todoRows").innerHTML = "";
            loadTodos();



        }
        // suppression des todos dont done est à true
        function deleteDoneTodos() {
            // Récupérer toutes les checkboxes cochées
            const checkedTodos = document.querySelectorAll('input[type="checkbox"].todo-checkbox:checked');

            // Récupérer les IDs des todos cochées
            const ids = [];
            checkedTodos.forEach(function (checkbox) {
                ids.push(checkbox.getAttribute('data-id'));
            });
            fetch("/todos/", {
                method: "DELETE",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({
                    ids: ids
                })
            })
                .then(function () {
                    document.getElementById("todoRows").innerHTML = "";
                    loadTodos();
                });
        }

        // appelé au chargement de la page
        // loadTodos();
    </script>

</body>

</html>